table {
  width: 100%;
}

p {
  font-size: 0.8rem;
  color: #575757;
  display: inline;
  margin: 0 5px 0 10px;
}

button {
  background-color: blueviolet;
  margin-top: 20px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  font-size: 0.9rem;
}

.req-rel {
  display: flex;
  align-items: center;
}

.req-rel input {
  margin-right: 10px;
}

.req-rel button {
  margin: 0;
  padding: 5px;
}

.input-date {
  border: 1px solid purple;
  border-radius: 15px;
}

.select-box {
  display: flex;
  justify-content: flex-end;
}

select,
.yearMonth {
  border: 1px solid purple;
  border-radius: 15px;
  max-width: 100px;
}

.edit {
  margin-right: 10px;
}

.edit > i {
  color: #d9cd26;
}

.delete > i {
  color: #e35e6b;
}

.max-wid {
  max-height: 900px;
}

@media only screen and (max-height: 900px) {
  .max-wid {
    max-height: 500px;
  }
}

.search {
  margin: 10px 0;
}
