.header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  background: linear-gradient(
    56deg,
    rgb(24, 24, 24) 0%,
    rgba(52, 48, 52, 1) 81%,
    rgba(43, 0, 116, 1) 100%
  );
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo {
  max-height: 32px;
}

.header .title-group {
  padding-left: 25px;
}

.header .title-group a {
  font-weight: 400;
  font-size: 0.9rem;
  color: white;
  text-shadow: 1px 1px #000000;
}

.header .title-group i {
  padding-right: 5px;
}
