table {
  width: 100%;
}

p {
  font-size: 0.8rem;
  color: #575757;
  display: inline;
  margin: 0 5px 0 10px;
}

select {
  border: 1px solid purple;
  border-radius: 15px;
}

.edit {
  margin-right: 10px;
}

.edit > i {
  color: #d9cd26;
}

.delete > i {
  color: #e35e6b;
}

.max-wid {
  max-height: 900px;
}

@media only screen and (max-height: 900px) {
  .max-wid {
    max-height: 500px;
  }
}
